<div class="row mt-4">
    <div class="col-lg-4 col-sm-12">@Html.Sitecore().DynamicPlaceholder("left-column")</div>
    <div class="col-lg-4 col-sm-12">@Html.Sitecore().DynamicPlaceholder("middle-column")</div>
    <div class="col-lg-4 col-sm-12">@Html.Sitecore().DynamicPlaceholder("right-column")</div>
</div> 