.presentation-container {
    /*border: 1px solid black;*/
}

.placeholder-container{
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
}

.presentation-container .panel-body {
    padding-bottom: 5px;
}

.presentation-container .panel {
    margin-bottom: 5px;
}

.pb_10 {
    padding-bottom: 10px;
}

.mb_10 {
    margin-bottom: 10px !important;
}