<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="Analytics.AutoDetectBots">
              <x:attribute name="value">false</x:attribute>
          </setting>
          <setting name="Analytics.Robots.IgnoreRobots">
              <x:attribute name="value">false</x:attribute>
          </setting>
      </settings>
      <layoutService>
          <configurations>
              <config name="jss">
                  <rendering type="Sitecore.LayoutService.Configuration.DefaultRenderingConfiguration, Sitecore.LayoutService">
                      <itemSerializer type="ContentExplorer.Extensions.SC.ItemSerializer, ContentExplorer" resolve="true"
                                      patch:instead="itemSerializer[@type='Sitecore.LayoutService.Serialization.ItemSerializers.DefaultItemSerializer, Sitecore.LayoutService']" >
                          <Fields hint="list">
                              <icon>__Icon</icon>
                          </Fields>
                      </itemSerializer>
                  </rendering>
                  <serialization type="Sitecore.LayoutService.Configuration.DefaultSerializationConfiguration, Sitecore.LayoutService" />
              </config>
          </configurations>
      </layoutService>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="ContentExplorer.Extensions.SC.Processors.JSS.CurrentItemContextExtension, ContentExplorer" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
                <Applications hint="list">
                </Applications>
            </processor>
              <processor type="ContentExplorer.Extensions.SC.Processors.JSS.ContentTreeContextExtension, ContentExplorer" resolve="true">
                  <AllowedConfigurations hint="list">
                      <jss>jss</jss>
                  </AllowedConfigurations>
                  <Applications hint="list">
                  </Applications>
                  <Routes hint="list">
                      <!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
                      <!--<home>/sitecore/content/FastTurtles/Home/*</home>
                      <home>/*</home>-->
                  </Routes>
              </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
        <ensureSessionContext> 
            <processor type="ContentExplorer.Processors.Session.SwitchContact, ContentExplorer"
                       patch:after="processor[@type='Sitecore.Analytics.Pipelines.EnsureSessionContext.EnsureContactId, Sitecore.Analytics']" />
        </ensureSessionContext>
    </pipelines>
      <sites>
          <site x:before="site[@name='website']"
                inherits="website"
                name="FastTurtles"
                hostName="sch2018.sc"
                rootPath="/sitecore/content/FastTurtles"
                startItem="/Home"
                database="master" />
      </sites>
      <!--<javaScriptServices>
          <apps>
              --><!-- you may override other attributes from 'defaults' in the app definiton below --><!--
              <app name="BrimitJssApp"
                   sitecorePath="/sitecore/content/XamarinApp"
                   inherits="defaults"
              />
          </apps>
      </javaScriptServices>-->
  </sitecore>
</configuration>
