<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <settings>
          <setting name="Analytics.AutoDetectBots">
              <x:attribute name="value">false</x:attribute>
          </setting>
          <setting name="Analytics.Robots.IgnoreRobots">
              <x:attribute name="value">false</x:attribute>
          </setting>
      </settings>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="ContentExplorer.Extensions.SC.Processors.JSS.CurrentItemContextExtension, ContentExplorer" resolve="true">
              <AllowedConfigurations hint="list">
                <!-- Unless you change the Layout Service config used by JSS, this should always be present. -->
                <jss>jss</jss>
              </AllowedConfigurations>
                <Applications hint="list">
                    <!-- Restrict the JSS apps for which this processor will execute. -->
                </Applications>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
      <sites>
          <site x:before="site[@name='website']"
                inherits="website"
                name="BrimitJssApp"
                hostName="jss.demo9u1.brimit.com"
                rootPath="/sitecore/content/XamarinApp"
                startItem="/home"
                database="master" />
      </sites>
      <!--<javaScriptServices>
          <apps>
              --><!-- you may override other attributes from 'defaults' in the app definiton below --><!--
              <app name="BrimitJssApp"
                   sitecorePath="/sitecore/content/XamarinApp"
                   inherits="defaults"
              />
          </apps>
      </javaScriptServices>-->
  </sitecore>
</configuration>
